<div class="container-fluid">
    <div>
        <h2 class="top">Record the most inspirational quotes you've ever heard</h2>
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <div *ngFor='let quote of quote; let i = index'>
                        <li>{{quote.quoteName}}
                        </li>
                        <button (click)='toggleDetails(i)'>See More</button>
                        <!-- making the parent element receive the event -->
                        <app-quotedescription *ngIf='quote.showQuoteDetails' [quote]='quote'
                            (isComplete)='completeQuote($event, i)'></app-quotedescription>
                    </div>
                </ul>
            </div>
            <div class="col-md-6">
                <app-quote-form></app-quote-form>
            </div>
        </div>
        <p *ngIf='quote.length > 15'>You have enough quotes already, are you not inspired yet?</p>
    </div>
</div>