<h3>Add a quote that inspires you</h3>
<form>
    <div class="form-group">
        <label for="quote">Write your quote here</label>
        <input type="text" class="form-control" id="quote" required>
    </div>

    <div class="form-group">
        <label for="author">Who is the author of this quote?</label>
        <input type="text" class="form-control" id="author" required>
    </div>

    <div class="form-group">
        <label for="name">Write your name here</label>
        <input type="text" class="form-control" id="name" required>
    </div>
</form>
